/* COLORS */
$blue: #6874e8;
$bgblack: #2e1760;
$ntext: #171738;
$bggray: #f4f4f9;
$orange: #f06449;

.App {
  text-align: center;
  background: $bggray;
}
* {
  transition: all 0.3s ease-in-out;
}
body {
  font-size: 16px;
  color: $ntext;
}
.title {
  font-size: 1.3rem;
  font-weight: 700;
}
.paragraph {
  font-size: 1.4rem;
  margin: 0;
}
.header {
  background-color: $bgblack;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "h1 i h2";
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  .title--header {
    color: $orange;
    font-size: 2rem;
  }
  .header--1 {
    grid-area: h1;
  }
  .header--2 {
    grid-area: h2;
  }
  .img--header,
  .img--headergif {
    margin: 0 2rem;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    justify-self: flex-end;
    align-self: center;
    grid-area: i;
  }
  .img--headergif {
    z-index: -1;
  }
}
.header:hover {
  padding: 0rem;

  .img--header,
  .img--headergif {
    border-radius: 0.5rem;

    margin: 0 3rem;
    height: 17rem;
    width: 17rem;
  }
  .img--headergif {
    z-index: 1;
  }
  .title--header {
    letter-spacing: 0.2rem;
  }
}
.whoAmI {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem auto 0;
  border-top: $bgblack 0.5rem solid;
  padding: 0 2rem 1rem;
  .title--whoAmI {
    color: $bgblack;
    justify-self: flex-start;
    align-self: flex-start;
  }
  .paragraph--whoAmI {
    text-align: left;
  }
}
.whoAmI:hover {
  border-top: $bgblack 0.9rem solid;
  .title--whoAmI {
    transform: scale(1.1);
    padding-left: 2rem;
    letter-spacing: 0.1rem;
  }
}
.workStudy {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto 0;

  .work {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: $blue 0.5rem solid;
    padding: 0 2rem 1rem;

    .title--work {
      color: $blue;
      justify-self: flex-start;
      align-self: flex-start;
    }
    .work--exp {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      transition: all 0.2s ease-in-out;
      .title--workWhere {
        margin: 0 1rem 0 0;
        color: $blue;
        font-weight: 400;
      }
      .title--workHow {
        margin: 0;
        text-align: left;
        flex-basis: 100%;
        font-weight: 400;
        color: $blue;
      }
      .paragraph--workDesc {
        text-align: left;
        width: 80%;
      }
    }
  }
  .work:hover {
    border-left: $blue 0.9rem solid;

    .title--work {
      transform: scale(1.1);
      padding-left: 0.8rem;
      padding-bottom: 2rem;
      letter-spacing: 0.1rem;
    }
    .work--exp:hover {
      .title--workWhere,
      .title--workHow {
        letter-spacing: 0.2rem;
      }
    }
  }
  .study {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-right: $orange 0.5rem solid;
    padding: 0 2rem 1rem;

    .title--study {
      color: $orange;
      justify-self: flex-end;
      align-self: flex-end;
    }
    .study--exp {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      transition: all 0.2s ease-in-out;

      .title--studyWhere {
        margin: 0 1rem 0 0;
        color: $orange;
        font-weight: 400;
      }
      .title--studyHow {
        margin: 0;
        text-align: right;
        flex-basis: 100%;
        font-weight: 400;
        color: $orange;
      }
      .paragraph--studyDesc {
        text-align: right;
        width: 80%;
      }
    }
  }
  .study:hover {
    border-right: $orange 0.9rem solid;

    .title--study {
      transform: scale(1.1);
      padding-right: 0.8rem;
      padding-bottom: 2rem;
      letter-spacing: 0.1rem;
    }
    .study--exp:hover {
      .title--studyWhere,
      .title--studyHow {
        letter-spacing: 0.2rem;
      }
    }
  }
}

.footer {
  background: linear-gradient(
    180deg,
    rgba(46, 23, 96, 1) 79%,
    rgb(40, 20, 87) 100%
  );
  display: grid;
  padding: 1.5rem;
  margin-top: 2rem;

  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    " a1  i  a3 "
    " .  i  . "
    " a2  i  a4";
  .img--footer,
  .img--footergif {
    height: 9rem;
    width: 9rem;
    grid-area: i;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
  }
  .img--footergif {
    z-index: -1;
  }
  .cuteLink {
    text-decoration: none;
    color: $bggray;
    align-self: center;
  }
  .cuteLink:hover {
    color: $orange;
    cursor: pointer;
  }
  .cuteLink--github {
    justify-self: flex-end;
    grid-area: a1;
  }
  .cuteLink--linkedin {
    justify-self: flex-end;
    grid-area: a2;
  }
  .cuteLink--whatsapp {
    justify-self: flex-start;
    grid-area: a3;
  }
  .cuteLink--gmail {
    justify-self: flex-start;
    grid-area: a4;
  }
}
.footer:hover {
  .img--footer,
  .img--footergif {
    height: 11rem;
    width: 11rem;
    border-radius: 0.5rem;
  }
  .img--footergif {
    z-index: 1;
  }
}

@media (max-width: 900px) {
  .header {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "i" "h1" "h2";
    padding: 0;
    .img--header,
    .img--headergif {
      margin: 0;
      padding-top: 1.5rem;
      height: 10em;
      width: 10em;
      border-radius: 50%;
      justify-self: center;
      align-self: center;
      grid-area: i;
    }
    .title--header {
      margin: 0;
    }
    .header--2 {
      margin-bottom: 1rem;
    }
  }

  .workStudy {
    flex-direction: column;
    width: 90%;
    .work,
    .study {
      flex-basis: 100%;
      text-align: center;
      border: none;
    }
    .work {
      border-top: $blue 0.5rem solid;
      .paragraph--workDesc {
        text-align: center;
        flex-basis: 100%;
      }
    }

    .study {
      border-top: $orange 0.5rem solid;
      align-items: flex-start;

      .paragraph--studyDesc {
        text-align: center;
        flex-basis: 100%;
      }
      .title--study {
        justify-self: flex-start;
        align-self: flex-start;
      }
      .study--exp {
        justify-content: flex-start;
        .title--studyHow {
          text-align: left;
        }
        .paragraph--studyDesc {
          text-align: left;
          flex-basis: 100%;
        }
      }
    }
    .work:hover {
      border-left: none;
      border-top: $blue 0.9rem solid;
      .title--work {
        transform: scale(1.1);
        padding-left: 2.8rem;
        padding-bottom: 0;
        letter-spacing: 0.1rem;
      }
      .work--exp:hover {
        .title--workWhere,
        .title--workHow {
          letter-spacing: 0.1rem;
        }
      }
    }
    .study:hover {
      border-right: none;
      border-top: $orange 0.9rem solid;
      .title--study {
        transform: scale(1.1);
        padding-left: 2.8rem;
        padding-bottom: 0;
        letter-spacing: 0.1rem;
      }
      .study--exp:hover {
        .title--studyWhere,
        .title--studyHow {
          letter-spacing: 0.1rem;
        }
      }
    }
  }

  .footer {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "i a1"
      "i a2"
      "i a3"
      "i a4";
    .cuteLink--github,
    .cuteLink--gmail,
    .cuteLink--linkedin,
    .cuteLink--whatsapp {
      justify-self: flex-end;
    }
  }
}
